.tasks-container {
  background-color: #ffbf00;
  display: flex;
  border-radius: 16px;
  border: 10px solid #000000;
  flex-direction: column;
  align-items: center;
}

.create {
  background-color: #000000;
  color: beige;
  border-color: #000000;
}

.create:hover {
  background-color: #ffbf00;
  color: #000000;
}
